<!-- More information on ROS launch http://wiki.ros.org/roslaunch/XML -->

<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 
       See http://wiki.ros.org/Clock
       Note: set to false for deploying to a real robot.
  -->
  <master auto="start"/>
  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>


 <arg name="bot_0"  default="robot_0"/>
  <arg name="bot_1" default="robot_1"/>
  <arg name="bot_2"  default="robot_2"/>
  <arg name="bot_3"  default="robot_3"/>
  <arg name="bot_4"  default="robot_4"/>
  <arg name="bot_5"  default="robot_5"/>
  <arg name="bot_6"  default="robot_6"/>
  <arg name="bot_7"  default="robot_7"/>
  <arg name="bot_8"  default="robot_8"/>
  <arg name="bot_9"  default="robot_9"/>

  <arg name="sigma_1" default="1"/>
  <arg name="sigma_2" default="1"/>
  <arg name="mu" default="1"/>



  <!-- start world -->
  <node name="stageros" pkg="stage_ros" type="stageros" args="$(find ant_foraging)/world/ant_world.world"  respawn="false" output="screen"/>

<!--node pkg="ant_foraging" type="ant_foraging" name="Ant" output="screen"/>
<node pkg="ant_foraging" type="ant_foraging" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2 _mu:=$(arg mu))" name="Ant" output="screen"/>
  -->
  <node pkg="ant_foraging" type="nest" name="Nest" output="screen"/>
  

 <!-- BEGIN ROBOTS -->
  <group ns = "$(arg bot_0)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_1)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_2)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_3)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_4)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_5)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_6)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_7)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_8)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>
  <group ns = "$(arg bot_9)">
    <node pkg="ant_foraging" type="ant" args="_sigma_1:=$(arg sigma_1) _sigma_2:=$(arg sigma_2) _mu:=$(arg mu)" name="Ant" output="screen"/>
  </group>

  

</launch>
